---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="h-16"></div>
    <main>
      <section class="flex flex-row flex-wrap  p-8">
        {
          posts.map((post) => (
            <>
              <div class="card md:w-80 md:h-96 bg-base-100 shadow-lg">
                <figure>
                  {!post.data.heroImage? (<></>):(<img
                    src={post.data.heroImage}
                    alt={post.data.heroImage.slice(2)}
                  />)}
                </figure>
                <div class="card-body">
                  <h2 class="card-title truncate">{post.data.title}</h2>
                  <time datetime={post.data.pubDate.toISOString()} class="font-mono">
                    {post.data.pubDate.toLocaleDateString("en-us", {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    })}
                  </time>
                  <p class="truncate">{post.data.description}</p>
                  <div class="card-actions justify-end">
                    <a class="btn-primary btn" href={`/blog/${post.slug}/`}>Read Now</a>
                  </div>
                </div>
              </div>
            </>
          ))
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
