---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <div class="h-16"></div>
    <main class="flex flex-col items-center p-8">
      <article class="prose flex flex-col lg:prose-xl">
        {
          heroImage && (
            <img
              width={720}
              height={360}
              src={heroImage}
              alt=""
              class="self-center rounded-lg"
            />
          )
        }
        <h1 class="title">{title}</h1>
        {
          pubDate && (
            <time datetime={pubDate.toISOString()} class="font-mono">
              {pubDate.toLocaleDateString("en-us", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
          )
        }
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
